.comment {
  background: #f8fafb;
  border-radius: 10px;
  padding: 1em;
  margin: 2em auto;
  font-size: 0.7em;
  width: 90%;
}

.comment-refs {
  display: flex;
  justify-content: space-between;
}

.comment-author {
  font-weight: bold;
}

.comment-created {
  color: #808080;
  font-style: italic;
  font-size: 0.8em;
}

.comment-body {
  padding-top: 0.5em;
}
