
h2 {
    background: #F8FAFB;
    text-align: center;
    padding: 1em;
    color: #2F3A45;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}

li button {
    width: 100%;
    cursor: pointer;
    border: none;
    border-top: 1px solid #DAE0E6;
    background-color: #FFF;
    padding: 0.5em;
    padding-top: 0.6em;
    display: flex;
    align-items: center;
}

li button:hover {
    background: #F8FAFB;
}

.subreddit-icon {
    height: 20px;
    width: auto;
    padding: 0 0.5em;
    border-radius: 50%;
}


/* #394754 */
/* #F8FAFB */
/* #DAE0E6 */
/* #2F3A45 */