.single-post {
    margin-bottom: 1em;
}

.notification {
    background: #F8FAFB;
    text-align: center;
    padding: 1em;
    color: #2F3A45;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}