a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.post-wrapper {
    border: 1px solid #BCC7D1;
    border-radius: 3px 3px 0 0;
    display: flex;
    max-width: 100%;
}

.post-container {
    border-radius: 3px 0 0 0;
    width: 100%;
    background: #FFF;
    padding: 0 1em;
}

.post-refs {
    font-size: 0.7em;
    color: #808080;
    padding: 1em 0 ;
}

.post-title {
    color: #2F3A45;
    padding: 0.5em 0;
    font-weight: bold;
}

.post-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0.5em 0;
}

.post-text {
    font-size: 0.8em;
    line-height: 120%;
    padding: 0.5em 0;
}

.post-comments-details {
    display: flex;
    font-size: 0.7em;
    color: #808080;
    font-weight: bold;
    padding: 1em 0;
}

.num-comments {
    padding-left: 0.5em;
}

.post-comments {
    padding-bottom: 1em;
    margin: auto;
    width: 90%;
}

.post-votes {
    border-left: 1px solid #DAE0E6;
    border-radius: 0 3px 0 0;
    background: #F8FAFB;
    padding: 1em 0.5em;
    text-align: center;
    width: 3em;
    color: #808080;
}

.vote-count {
    font-size: 0.7em;
    font-weight: bold;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
}

.back-link {
	display: flex;
	align-items: center;
	font-size: 0.9em;
	color: #2F3A45;
	padding: 1em;
	background: #F8FAFB;
	border: 1px solid #BCC7D1;
}

.back-link p {
	padding-left: 0.5em;
}

